
body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-image: url('../img/rob.jpg');
    background-size: cover;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    font-family: 'Tangerine', serif;
}

h1{
    top:1em;
    color: rgb(227, 255, 149);
    margin-top: 1em;
    font-size: 90px;
    margin-bottom: 1em;


}
.background {
    height: 100vh;

}

  
.counter-container{ 
    
    border-radius: 15px;
    width: 100%;
    text-align: center;
    flex: 0 1 30%;
    justify-content: space-around;

}

.counter{
    width: 150px;
    height: 8em;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 8px;
    background-color: rgb(33, 31, 31);
    text-align: center;
    position: relative;
}

.white-counter {
    background-color: white;
    width: 85%;
    height: 85%;
    vertical-align: middle;
    margin: auto;
    border-radius: 10px 10px 10px 10px ;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
 }
 #counter-text {
    font-size: 90px;
 }
 
.plus{
    width: 5em;
    height: 5.3em;
    margin: auto;
    text-align: center;
    background-color: rgb(33, 31, 31);
    border-radius: 10px 10px 0 0 ;
}

.minus{
    width: 5em;
    height: 5.3em;
    margin: auto;
    text-align: center;
    background-color: rgb(33, 31, 31);
    border-radius: 0 0 10px 10px ;
}
.zero{
    font-size: 90px;
}

#plus-icon {
    font-size: 60px;
    color: white;
    background-color: rgb(33, 31, 31);
    border: none;
    padding:0;
    height: 80px;
}
#minus-icon {
    font-size: 60px;
    color: white;
    background-color: rgb(33, 31, 31);
    border: none;
    height: 80px;
    margin-bottom: 1em;
}

.reset {
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 1em;
    border: 1px solid rgb(227, 255, 149);
    border-radius: 10px;
    padding: 0.2em 0.4em 0.2em 0.4em;

}

.reset:hover{
    background-color:  rgb(227, 255, 149);
    transition: 0.4s;
    color: black;

}




@media screen and (min-width: 500px){
    .counter-container{      
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    align-items: center;
    }
    .counter-container div{
        flex-direction:row;
        flex: 1 0 60%;
    }
    .plus{
        width: 2em;
        margin: auto;
        text-align: center;
        background-color: rgb(33, 31, 31);
        border-radius:10px 0 0 10px;
    }
    
    .minus{
        width: 1em;
        margin: auto;
        background-color: rgb(33, 31, 31);
        border-radius:0 10px 10px 0;

    }


}